<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>PEC SportoCrats</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'contactus.css' %}">
    </head>
    <body>
        <header class="header1 can group">
            <h1 class="logo">
                <a href="main1.html" ><img src="{%static 'Pec1.png'%}"
                    alt="Image of logo" height="80px" width="125px">&nbspPEC SportoCrats</a>
            </h1>
            <br>
            <br>
            <br>
            <br>
            <br>
            <h3 class="tag">Chandigarh,India</h3>
            <br>
            <nav class="nav nav1 hi b">
                &emsp;&emsp;&emsp;<a href="main1.html">Home</a>&emsp;&emsp;&emsp;
                &emsp;&emsp;&emsp;<a href="register.html">Register</a>&emsp;&emsp;&emsp;
                &emsp;&emsp;&emsp;<a href="announce.html">Announcements</a>&emsp;&emsp;&emsp;
                &emsp;&emsp;&emsp;<a href="aboutus.html">About Us</a>&emsp;&emsp;&emsp;
                &emsp;&emsp;&emsp;<a href="contactus.html">Contact Us</a>&emsp;&emsp;&emsp;
            </nav>
        </header>
        <br>
        <br>
        <br>
        <br>
            
        </section>
        <section class="row">
        	<div class="grid">
                <h1>Cricket Final Selections</h1>
                <br>
                <p></p>
                <br>
                <div>
                    <table>
                        <thead>
                            <tr class="red">
                                <th>ID</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in dat %}
                            <tr>
                                <td>{{i.selection_cricket_male_id}}</td>
                                <td>{{i.status}}</td>
                            </tr>

                            {% endfor %}
                        </tbody>
                    </table>  
                </div>
		    </div>
        </section>

        <section class="row">
            <div class="grid">
                <h1>Football Final Selections</h1>
                <br>
                <p></p>
                <br>
                <div>
                    <table>
                        <thead>
                            <tr class="red">
                                <th>ID</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in dat1 %}
                            <tr>
                                <td>{{i.selection_football_male_id}}</td>
                                <td>{{i.status}}</td>
                            </tr>

                            {% endfor %}
                        </tbody>
                    </table>  
                </div>
            </div>
        </section>
        
        <section class="row">
            <div class="grid">
                <h1>Basketball Final Selections</h1>
                <br>
                <p></p>
                <br>
                <div>
                    <table>
                        <thead>
                            <tr class="red">
                                <th>ID</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in dat2 %}
                            <tr>
                                <td>{{i.selection_basketball_male_id}}</td>
                                <td>{{i.status}}</td>
                            </tr>

                            {% endfor %}
                        </tbody>
                    </table>  
                </div>
            </div>
        </section>

        <section class="row">
            <div class="grid">
                <h1>Chess Final Selections</h1>
                <br>
                <p></p>
                <br>
                <div>
                    <table>
                        <thead>
                            <tr class="red">
                                <th>ID</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in dat3 %}
                            <tr>
                                <td>{{i.selection_chess_male_id}}</td>
                                <td>{{i.status}}</td>
                            </tr>

                            {% endfor %}
                        </tbody>
                    </table>  
                </div>
            </div>
        </section>

        <section class="row">
            <div class="grid">
                <h1>Table Tennis Final Selections</h1>
                <br>
                <p></p>
                <br>
                <div>
                    <table>
                        <thead>
                            <tr class="red">
                                <th>ID</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in dat4 %}
                            <tr>
                                <td>{{i.selection_table_tennis_male_id}}</td>
                                <td>{{i.status}}</td>
                            </tr>

                            {% endfor %}
                        </tbody>
                    </table>  
                </div>
            </div>
        </section>

        <section class="row">
            <div class="grid">
                <h1>Badminton Final Selections</h1>
                <br>
                <p></p>
                <br>
                <div>
                    <table>
                        <thead>
                            <tr class="red">
                                <th>ID</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in dat5 %}
                            <tr>
                                <td>{{i.selection_badminton_male_id}}</td>
                                <td>{{i.status}}</td>
                            </tr>

                            {% endfor %}
                        </tbody>
                    </table>  
                </div>
            </div>
        </section>

        <section class="row">
            <div class="grid">
                <h1>Athletics Final Selections</h1>
                <br>
                <p></p>
                <br>
                <div>
                    <table>
                        <thead>
                            <tr class="red">
                                <th>ID</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in dat6 %}
                            <tr>
                                <td>{{i.selection_athletics_male_id}}</td>
                                <td>{{i.status}}</td>
                            </tr>

                            {% endfor %}
                        </tbody>
                    </table>  
                </div>
            </div>
        </section>


        <footer class="footer1 can group">
            <small>&copy; Shubham Arya</small>
            <nav class="nav foo">
                &ensp;<a href="main1.html">Home</a>&ensp;
                &ensp;<a href="register.html"> Register </a>&ensp;
                &ensp;<a href="aboutus.html"> About Us </a>&ensp;
                &ensp;<a href="contactus.html"> Contact Us </a>&ensp;
            </nav>
        </footer>
    </body>
</html>