<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>PEC SportoCrats</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'register.css' %}">
    </head>
    <body>
        <header class="header1 can group">
            <h1 class="logo">
                <a href="main1.html" ><img src="{%static 'Pec1.png'%}"
                    alt="Image of logo" height="80px" width="125px">&nbspPEC SportoCrats</a>
            </h1>
            <br>
            <br>
            <br>
            <br>
            <br>
            <h3 class="tag">Chandigarh,India</h3>
            <br>
            <nav class="nav nav1 hi b">
                &emsp;&emsp;&emsp;<a href="main1.html">Home</a>&emsp;&emsp;&emsp;
                &emsp;&emsp;&emsp;<a href="register.html">Register</a>&emsp;&emsp;&emsp;
                &emsp;&emsp;&emsp;<a href="announce.html">Announcements</a>&emsp;&emsp;&emsp;
                &emsp;&emsp;&emsp;<a href="aboutus.html">About Us</a>&emsp;&emsp;&emsp;
                &emsp;&emsp;&emsp;<a href="contactus.html">Contact Us</a>&emsp;&emsp;&emsp;
            </nav>
        </header>
        <br>
        <br>
        <br>
        <br>
        <!--
        -->
        <section>
            <div class='center'>
                <a class="butn butn-alt blink" href="male.html">Register for Male  </a>
                <br>
                <br>
            </div>
            <div class="center1">
                <a class="butn butn-alt blink" href="female.html">Register for Female</a>
                <br>
                <br>
            </div>
        </section><!--
        -->
        <footer class="footer1 can group">
            <small>&copy; Shubham Arya</small>
            <nav class="nav foo">
            &ensp;<a href="main1.html">Home</a>&ensp;
            &ensp;<a href="register.html"> Register </a>&ensp;
            &ensp;<a href="aboutus.html"> About Us </a>&ensp;
            &ensp;<a href="contactus.html"> Contact Us </a>&ensp;
            </nav>
        </footer>
    </body>
</html>